@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: "Roboto", sans-serif;
}
body{
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 1000px;
    border-radius: 30px;
}

.container .wrapper {
    width: 520px;
    height: 463px;
    position: absolute;
    top: -50px;
    right: -53px;
    margin: 70px;
}
  
.wrapper .div1 {
    height: 230px;
    width: 258px;
    background-color: #fff;
    transition: background-color 2s ease;
}

.div1:hover {
    background-color: green;
}

.wrapper .div2 {
    position: absolute;
    right: 0;
    top: 0;
    width: 260px;
    height: 230px;
    background-color: #fff;
    transition: background-color 2s ease;
}

.div2:hover {
    background-color: purple;
}

.wrapper .div3 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 258px;
    height: 230px;
    background-color: #fff;
    transition: background-color 2s ease;
}

.div3:hover {
    background-color: cyan;
}

.wrapper .div4 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 260px;
    height: 230px;
    background-color: #fff;
    transition: background-color 2s ease;
}

.div4:hover {
    background-color: red;
}

.wrapper .image-1 {
    width: 200px;
}

.wrapper .image-2 {
    width: 200px;
}

.wrapper .image-3 {
    width: 200px;
}

.wrapper .image-4 {
    width: 200px;
}

.wrapper .div1 .b1 {
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin: -2px 50px;
}

.wrapper .div2 .b2 {
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin: -2px 50px;
}

.wrapper .div3 .b3 {
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin: -2px 50px;
}

.wrapper .div4 .b4 {
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin: -2px 50px;
}

.container span {
    position: relative;
    left: 64px;
    top: 55px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.container span .b {
    font-weight: 800;
}

.container .codepicture {
    position: absolute;
    top: 200px;
    left: 75px;
}

.container .newspan {
    position: relative;
    font-size: 15px;
    top: 180px;
    left: -75px;
   
}

.container .newspan2 {
    position: relative;
    font-size: 15px;
    top: 180px;
    left: 70px;
}

  .container .div5 {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: -40px;
    left: 80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .container .div6 {
     position: absolute;
     width: 225px;
     height: 188px;
     bottom: -30px;
     left: 300px;
}

.container .p1 {
    position: relative;
    top: -27px;
    left: 2px;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .div6 .h3 {
    position: relative;
    top: -20px;
    font-size: 21px;
}

.container .div6 .h5 {
    position: relative;
    bottom: 30px;
}

.container .div7 {
    position: absolute;
    width: 225px;
    height: 188px;
    bottom: -30px;
    right: 300px;
 }
  
 .container .div8 {
    position: absolute;
    width: 225px;
    height: 188px;
    bottom: -30px;
    right: 75px;
}

.container .div8 .head3 {
    position: relative;
    top: -20px;
    font-size: 21px;
}

.container .para1 {
    position: relative;
    top: -27px;
    left: 2px;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .div8 .head5 {
    position: relative;
    bottom: 30px;
}

.container .div9 {
    position: absolute;
    width: 225px;
    height: 190px;
    bottom: -260px;
    left: 81px;
}

.container .div10 {
    position: absolute;
    width: 225px;
    height: 188px;
    bottom: -260px;
    left: 300px;
}

.container .par1 {
   position: relative;
   top: -27px;
   left: 2px;
   font-size: 13px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .div10 .hd3 {
   position: relative;
   top: -20px;
   font-size: 21px;
}

.container .div10 .hd5 {
   position: relative;
   bottom: 30px;
}

.container .div11 {
    position: absolute;
    width: 225px;
    height: 188px;
    bottom: -260px;
    right: 300px;
 }

 .container .div12 {
    position: absolute;
    width: 225px;
    height: 188px;
    bottom: -260px;
    right: 75px;
}

.container .div12 .hrd3 {
    position: relative;
    top: -20px;
    font-size: 21px;
}

.container .prr1 {
    position: relative;
    top: -27px;
    left: 2px;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .div12 .hrd5 {
    position: relative;
    bottom: 30px;
}


